{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Profile</title>
</head>
<body>
    <header class="header">
        <a class="login" href="{% url 'home' %}"><h3>Home</h3></a>
        <div class="right-side">
            <a href="{% url 'user' %}" class="login">Hi {{ request.user}}/</a>
            <a href="{% url 'logout' %}"><h3>Logout</h3></a>
        </div>
    </header>
    <script type="text/javascript">
        var user = '{{request.user}}'

        function getToken(name) {
        letcookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    const csrftoken = getToken('csrftoken');
    </script>

    <div class="wrap">
        <div class="user-info">
            <h2>Your Profile</h2>
            <div class="user">
                <div class="prof">
                    <div class="image">
                        <img src="{{ profile.image.url }}" alt="">
                    </div>
                    <div class="about-body">
                        <h2>{{profile.user}}</h2>
                        <p>{{profile.user.email}}</p>
                    </div>
                </div>
                <div class="about-user">
                    <div>
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="forms">
                                {{user_form}}
                                {{profile_form}}
                            </div>
                            <div class="button">
                                <button class="btn" type="submit">Update</button>
                            </div>
                        </form>
                    </div>
                    <div class="m">
                        {% for message in messages %}
                            <p class="message">{{ message }}</p>
                        {% endfor %}
                    </div>
                </div>
                <div class="total-likes">
                    <h3>Total likes: {{profile.get_count_likes}}</h3>
                </div>
            </div>
        </div>
        <div class="main">
            {% if fav %}
            {% for f in fav %}
                <div class="container">
                    <div class="like-movie">
                        <img src="{{ f.movie.imageURL }}" alt="">
                    </div>
                    <div class="like-movie-info">
                        <a href="/movie/{{f.movie.slug}}">{{ f.movie.title }}</a>
                        <div class="like-rate">
                            <span>{{ f.movie.rating }}</span>
                            <i class= "fa-regular fa-square-minus like" data-id="{{f.movie.pk}}"></i>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% else %}
            <div class="no-fav">
                <h2>No Favorite Movies...</h2>
            </div>
            {% endif %}
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>